.about-page p {
    max-width: 50vw;
    text-align: justify;
    margin-bottom: 25px;
    font-size: 24px;
}
.about-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}
.about-page a {
    color: green;
}
.about-page span {
    color: green;
    font-weight: 500;
}