.productImage {
    display: block;
    max-width: 24vw;
}
.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
.namePricePair {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.productName{
    font-size: 18px;
    text-transform:uppercase;
    cursor: pointer;
}
.productButton {
    display: none;
    position: absolute;
    top: 70%;
    bottom: auto;
    left: 3vw;
    right: 3vw;
    width: 18vw;
}
.productImage:hover + .productButton {
    display: block;
}
.product-container {
    position: relative;
}
.productButton:hover {
    display: block;
    background-color: grey;
    /*border: 1px solid black;*/
}