.main-page {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background: linear-gradient(318deg, #56d4b3, #56b2d4, #4b7bdd, #5855e3, #9755e3);
    background-size: 1000% 1000%;

    -webkit-animation: gradient-anim 30s ease infinite;
    -moz-animation: gradient-anim 30s ease infinite;
    animation: gradient-anim 30s ease infinite;
}
.main-page h1 {
    position: absolute;
    bottom: 20vh;
    left: 15vw;
    right: auto;
    top: auto;
    font-size: 48px;
    color: white;
}
#span-collection {
    font-size: 60px;
    font-weight: 500;
}

@-webkit-keyframes gradient-anim {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes gradient-anim {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes gradient-anim {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}