.main-page {
    height: 550px;
    width: 100%;

    background-image: url('https://images.pexels.com/photos/797797/pexels-photo-797797.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-page h1 {
    /*position: absolute;
    bottom: 20vh;
    left: 15vw;
    right: auto;
    top: auto;*/
    font-size: 48px;
    color: white;
    font-family: 'Playfair Display SC', serif;
}
.main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-page button {
    max-width: 200px;
}